<a asp-controller="ShoppingCart" asp-action="CreateOrder">
                <i class="icon-note"></i>
                </a>
                
                  <button class="button button5">Bestellen
                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id">Add to cart</a>
              </button>