@model Eduportal.Models.ViewModels.ActionShoppingCartViewModel
@{
    ViewBag.Title = "ShoppingCart Management";
    ViewBag.SubTitle = "Manage all your ShoppingCarts via this platform";
    ViewBag.Description = "Delete the ShoppingCart @Model.Name";
}
<div class="animated fadeIn">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Order
            </div>
            <div class="card-block">
                <p>Do you wish empty  the cart  ?</p>
                <form asp-controller="ShoppingCart" asp-action="Empty" method="post" asp-antiforgery="true">
                    <input asp-for="BaseEntity.Id" type="hidden">
                    <input asp-for="BaseEntity.Name" type="hidden">
                    <input asp-for="BaseEntity.Description" type="hidden">
                    <input asp-for="ActionType" type="hidden">
                    <button type="submit" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->
</div>
